<div class="p-fluid" style="border: 1px solid red;">
    <form [formGroup]="myForm">
      <app-text-field label="Nombre" [control]="nameControl"></app-text-field>
      <app-number-field label="Numero" [control]="ageControl"></app-number-field>
      <app-checkbox-field label="Aceptas" [control]="termsControl"></app-checkbox-field>
      <button pButton type="button" label="Submit" (click)="submitForm()">guardar</button>
    </form>
  </div>
 <!--  <div style="border: 1px solid purple;">
    <app-checkbox-field label="Aceptas xd" ></app-checkbox-field> 
  </div> -->
 